body {
    font-family: Roboto;
    margin: 0;
    
    
    
}



a {
    text-decoration: none;
    color: #E5E7EB;
}

h4 {
    font-size: 24px;
    color: #E5E7EB;
    margin: 0;
}



.orange-cat  {
    width: 30%; 
    height: auto;
       
}

.cow-cat, .black-cat, .grey-cat, .calico-cat  {
    width: 25%;
    height: auto;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.hero {
    padding: 120px 150px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero-info {
    font-size: 18px;
    color:#E5E7EB;
    margin-top: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.top-button {
    align-self: flex-start;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 12px;
    background-color: #3882f6;
    color: #f9faf8;
}

.mid-heading {
    padding: 10px 150px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.cats {
    display: flex;
    padding: 10px 150px;
    justify-content: space-around
}